@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

.dosis {
    font-family: 'Dosis', sans-serif;
}

.home-img {

    height: 450px;
}

.home-img img {
    height: 100%;
}

.bg-img {
    background-image: url(https://p.w3layouts.com/demos_new/30-01-2017/resort-demo_Free/1920654907/web/images/2.jpg);
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.home-img h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
}

.dark-bg {
    width: 100%;
    text-align: center;
    background: #000000a3;
    color: #ffcc33;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    padding: 15px;

}

.dark-bg h3 {
    font-size: 19px;
    letter-spacing: 7px;
    margin: 0;

}

.home-img p {
    color: white;
    letter-spacing: 10px;
}

.resorts {
    background-color: #f5f5f5;
}

.resorts h3 {
    letter-spacing: 5px;
}

.text-headings p {
    padding: 10px 7rem;
    line-height: 30px;
    color: #555;
}

.card {
    position: relative;
}

.card-start:before {
    top: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    right: 50%;
    position: absolute;
    background: #ff401b;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

.card-start:hover:before {
    width: 100%;
    right: 0;
    left: 0;
}

.card-body {
    position: relative;
    padding: 10px 0px !important;
}

.card-start .card-body h5:after {
    content: '';
    position: absolute;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    width: 20%;
    height: 4px;
    background: #212121;
    left: 40%;
    top: 30%;

}

.card-title {
    padding-bottom: 5px !important;
}

.card-start:hover .card-body h5:after {
    width: 60%;
    background: #ff401b;
    right: 0;
}

.card-start img {
    width: 100%;
}

.card-start:hover .card-body h5 {
    color: #00acee;
}

.btn-section button {
    border: none;
    outline: none;
    background: #00acee;
    padding: 0.7em 1.5em 0.7em 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 25px;
    font-size: 0.9em;
}

.btn-section button:hover {
    background: #2baf2b;
    transition: 0.5s all ease;
}

.facility {
    background-color: black;
}

.facility i {
    font-size: 3rem;
}

.facility {

    border-right: 1px solid #292b2b;
}

.facility:hover {
    border-right: 1px solid #1589b5;
    background: #00acee;
}

.facility i {
    transition: .5s all;
}

.facility:hover i {
    transform: rotatey(180deg);
    transition: .5s all;
}

.f-row div:last-child {
    border-right: none;
}

.section-heading h3 {
    font-size: 2.3em;
    color: #2baf2b;
    letter-spacing: 5px;
    text-transform: uppercase;

}

.video-overlay {
    position: absolute;
    width: 760px;
    height: 570px;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
    background: url(https://p.w3layouts.com/demos_new/30-01-2017/resort-demo_Free/1920654907/web/images/watch.jpg);
}

.vid-player {
    position: relative;
}

.video-text {
    text-align: center;
}

.video-text h4 {
    text-transform: uppercase;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: 2px;
    padding: 0.4em 0em;
    width: 100%;
    text-align: center;
}

.why-chose h3 {
    letter-spacing: 5px;
}

.why-chose p {
    margin: 1em 0 3em;
    color: #555;
    line-height: 2em;
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    /* margin-left: auto; */
    content: "";
    margin-right: 20px;
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    background: #00acee;
    padding: 8px;
}

.book-form {
    background: #0c0c0c;
    padding: 2em 2em;
    margin-top: 2em;
}

.form-date-w3-agileits,
.form-left-agileits-w3layouts.bottom-w3ls {
    padding-left: 0;
    padding-right: 0px;
    margin-right: 10px;
    width: 48%;
}

.book-form label {
    font-size: 15px;
    color: #fff;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.book-form label i {
    font-size: 1em;
    margin-right: 10px;
    color: #2baf2b;
}

.book-form input[type="text"] {
    border: 2px solid #fff;
}

.form-date-w3-agileits.second-agile,
.form-time-w3layouts.second-agile,
.form-left-agileits-w3layouts.second-agile,
.form-left-agileits-w3layouts.bottom-w3ls.second-agile {
    margin-right: 0 !important;
    padding: 0 !important;
}

.form-date-w3-agileits.second-agile {
    width: 50%;
}

.book-form input[type="text"],
.book-form input[type="date"],
.book-form input[type="time"],
.book-form input[type="email"] {
    width: 100%;
    color: #9a9797;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 3px 10px;
    border: 2px solid #fff;
    -webkit-appearance: none;
    margin-bottom: 1em;
    background: none;
    font-family: 'Open Sans', sans-serif;
}

.book-form select.form-control {
    outline: none;
    font-size: 1em;
    padding: 5px 10px;
    width: 100%;
    line-height: 25px;
    border-radius: 0;
    background: none;
    color: #9a9797;
    border: 2px solid #fff;
    box-shadow: none !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.book-form form input[type="submit"] {
    text-transform: capitalize;
    background: #ff401b;
    color: #FFFFFF;
    padding: 0.8em 2em;
    border: none;
    font-size: 1em;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    margin-top: 2em;
    -webkit-appearance: none;
}

.book-form input[type=submit] {
    color: #FFFFFF;
    padding: 0.8em 1em;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
    background: #2baf2b;
    width: 100%;
    letter-spacing: 3px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="submit"],
.w3l_header_left ul li a,
.related-post-right h4 a,
.comments-grid-right h4 a,
.reply a,
.w3_single_grid_left_grid ul li a,
ul.contact_info li a,
.w3ls_services_bottom_grid_grid_pos,
.footer-copy p a,
.w3l_services_grid h4 a,
.agileinfo_footer_grid ul li a,
.wthree_service_breadcrumb_left ul li a {
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}

.book-form input[type=submit]:hover {
    background: #00acee;
    color: #fff;
}

.make.wow.shake {
    width: 100%;
}

.bgdark {
    width: 100%;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 7px;
}

.bgdark h3 {
    color: white;
}

.rate-box {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s ease;

}

.rate-heading {

    width: 100%;
}

.rate-heading h5 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    color: white;
    text-align: center;
    padding: 0.4em 1em;
    margin: 0;
    font-weight: 400;
}
.price h3 {
    font-size: 7em;
margin: 0
;}
.price h3 span {
    font-size: 30px;
    vertical-align: top;
}
.price p {
    text-align: right;
}
.outer-box {

    width: 100%;
    color: white;
}
.price {
    width: fit-content;
    margin: auto;
}
.rating li i {
    color: #0c0c0c;
}
.bed i {
    font-size: xxx-large;
    padding-top: 20px;
    text-align: center;
}
.pricing-btn a {
    font-size: 0.9em;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
.rate-box:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
}