
.orange-text{
    color:#ff401b;
}

.bread-crumb-overlay {
    background-image: url(https://p.w3layouts.com/demos_new/30-01-2017/resort-demo_Free/1920654907/web/images/4.jpg);
    min-height: 200px;
}
.bread-crumb-title {
    background: #00acee;
    text-align: center;
}